<h1> <%= title %> Me  </h1>
<br><br><br>
<div class="aboutPart">
<h2 style = "font-weight: bolder;color: black;text-align: center;"> Who Am I </h2>
<p> I am Amina Aidarus, a software engineering technology student at Centennial College graduating on December 2024. 
    I developed a passion of learning programming languages after joining the program.
    I am familiar with HTML/CSS, JavaScript, C#, Java, Oracle SQL, PL/SQL. 
    I am self-motivated and have a passion to learn new technologies. My long term goal is gaining work experience in the Software field. 
    In my free time, I enjoy creative baking and spending time with family. 
</p>
</div>
<a id = "resumeLink"href="">Download Resume</a>
