
<h1> Welcome To My <%= title %> Page  </h1>

    <img src = "../components/header&footer_images/My_Logo.jpg">
    <p> My name is Amina Aidarus</p>
    <p> I am a student from Centennial College at the Software Engineering Technology Program. To know more about me, click on the link below</p>
    <a id = "aboutMeLink"href = "/about">About Me</a>

