<h1> Welcome to my <%= title %> page  </h1>
<div class = "row">
    <div class = "column">
        <img src ="listingimages/977995-mansion-house-architecture-luxury-building-design.jpg"alt = "House with pool" style="width:100%">
        <p><span id ="bold">520 Meddly Crescent, Waterloo, ON</span></p>
        <p>Price: $1,000,0000 </p>
        <p>Size: 7000 sq.ft </p>
        <p> 5 bedrooms 3 bath </p>
        <a href ="listing1.html">Click Here For More Details</a>
        </div>
    <div class = "column">
        <img src = "listingimages/Rufus_Rand_Summer_House.jpg"alt = "summer house" style="width:100%;height:250px">
        <p><span id ="bold">15 High Street, Cambridge, ON</span></p>
        <p>Price:$800,0000 </p>
        <p>Size: 5000 sq.ft</p>
        <p> 4 bedrooms 3 bath</p>
        <a href = "listing2.html">Click Here For More Details</a>
    </div>
    <div class = "column">
      <img src ="listingimages/langham_news_2.jpg"  alt = "breathtaking-house" style = "width:100%">
      <p><span id = "bold">12 sweden Road, Guelph, ON</span></p>
      <p>Price: $600,000</p>
      <p>Size: 5000 sq.ft</p>
      <p> 3 bedrooms 3 bath </p>
      <a href = "listing3.html">Click Here For More Details</a>
    </div>
</div>